/* 全部样式 */
*{
    margin:0px;
    padding:0px;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    cursor:pointer;
}
ul li a:hover {
    color:#fe3366;
}
.clear{
    clear:both;
    height:10px;
}
/* 容器样式 */
#container{
    width:1350px;
	overflow:hidden;

}
/* 页面头部 */
/* 头部开始 */
 #header{
    width:1350px;
    height:250px;
     color:#666;
	font: 12px "微软雅黑";
}
/* body{ */
	/* color:#666; */
	/* font: 12px "微软雅黑"; */
/* } */
.header_1{
    width:1350px;
	background:#f7f7f7;
	height:30px;
	line-height:30px;
}
.header_1 .header-top{
	margin:0 auto;
	width:1200px;
	text-align:right;
}
 .header-top > ul >li {
	display:inline-block;
	text-align:center;
	
}
.header_1   a{
	border-right:1px dotted #ccc;
	display:inline-block;
    height:20px;
    line-height:20px;
    color:#666; 
    padding:0 10px;	
}
  
.header_1 a:hover {
    color:#fe3366;
    cursor:pointer;
}
 .header-top  .index{
	float:left;
 }
 .index .number1{
	padding-right:100px;
    border-right:none; 
 }
 .index span{
	 
	background:rgba(0,0,0,0) url("../images/1.png") no-repeat 0 0;
	display:inline-block;
	height:16px;
	margin-right:15px;
	vertical-align:sub;
	width:15px;
 }
 .drop{
    position:relative;
	z-index:4; 
 }
 .collect-1{
	 
	background:#f7f7f7;
	border:1px solid #eee;
	display:none;
	line-height:20px;
	margin-left:-5px;
	padding:10px 0;
	position:absolute;
	top:30px;
 }
 .drop:hover .collect-1{
	display:block;
 }
 .collect-1 li{
	text-align:left;
 }
  .collect-1 li a{
    margin-bottom:5px;
    border:none;
  }
 .weixin{
	background:rgba(0,0,0,0) url("../images/1.png") no-repeat -26px 0;
	display:inline-block;
	height:16px;
	margin-right:12px;
	vertical-align:sub;
	width:18px;
 }
 .qq{
	background:rgba(0,0,0,0) url("../images/1.png") no-repeat -52px 0;
	display:inline-block;
	height:16px;
	margin-right:15px;
	vertical-align:sub;
	width:15px;
 }
 .collect{
    background:rgba(0,0,0,0) url("../images/1.png") no-repeat -77px 0;
	display:inline-block;
	height:16px;
	margin-right:15px;
	vertical-align:sub;
	width:15px;
 }
 .shopping-1{
    background:rgba(0,0,0,0) url("../images/1.png") no-repeat -104px 0;
	display:inline-block;
    height:16px;
	margin-right:15px;
	vertical-align:sub;
	width:15px;
 }
 .list{
    background:rgba(0,0,0,0) url("../images/1.png") no-repeat -130px 0;
    display:inline-block;
	height:16px;
	margin-right:15px;
    vertical-align:sub;
	width:15px;
 }
 .help{
	background:rgba(0,0,0,0) url("../images/1.png") no-repeat -180px 0;
	display:inline-block;
	height:16px;
	margin-right:15px;
	margin-left:10px;
	vertical-align:sub;
	width:15px;
 }
 .last{
	border-right:none;
 }
.header_2{
    width:1350px;
	background:#fff;
}
 
.header_3{
	height:120px;
	width:1200px;
	margin:0 auto;
	position:relative;
}
.header_text1 {
	width:500px;
	/* border:3px solid #f69; */
	left:50%;
	margin-left:-240px;
	position:absolute;
	top:20px;
}
.header_text1 .text-top span{
	width:60px;
	background:#ff6699;
	cursor:pointer;
	display:inline-block;
	line-height:25px;
	text-align:center;
}
.dianpu{
	background:#f36;
	color:#fff;
}

 .header_text1 .text-border{
    height:30px;
	position:relative;
}
 .top-text{
	border:2px solid #f36;
	float:left;
	height:30px;
	line-height:30px;
	padding:0 0 0 10px;
	width:420px;
}
.text-border .date{
	background:#f36 url("../images/2.png") no-repeat center center;
	cursor:pointer;
	float:right;
	height:34px;
	width:80px;
	margin-top:-34px;
}
 .text-bottom{
    padding-top:10px;
} 
 .text-bottom a{
    padding-right:10px;
} 
.logo{
    float:left;
    margin-top:50px;
}
.sese{
    float:right;
}
.sese img{
	height:150px;
	width:150px;
	margin-top:10px;
	margin-right:80px;
}
.text-bottom span a{
	color:#f36;
}
.text-bottom  a{
	color:#666;
}
.header_4{
    width:100%;
    height:50px;
    background:#f7f7f7;
	line-height:50px;
	border-bottom:1px solid #f36;
	margin-bottom:10px;
	background:#fff;
}
.header_4 .persent a{
    width:60px;
    text-decoration:underline;
    border-bottom:2px solid #f69;
    padding:5px 10px 5px;
    color:#f69;	
}
.header_4 ul{
	width:1200px;
	height:30px;
	margin-right:auto;
	margin-left:auto;

}
.header_4 ul li{
    width:80px;
    float:left;
    text-align:center;
    line-height:50px;
}
.header_4 ul li a{
    font:16px "微软雅黑";
    color:#000;
    font-weight:bold;
}
.header_4 ul li a:hover{
    text-decoration:underline;
    color:#f69;
}
/*头部结束  */
/* 页面中部开始 */
#body{
    width:1350px;
    height:4250px;
    background:#fff7f7;
}
.body-1{
    width:1350px;
    height:600px;
   
}
.body-1 .body-1l{
    width:250px;
    height:600px;
    float:left;
    margin-left:20px;
}
.body-1 .body-1l .body-select{
    width:220px;
    height:120px;
    border-bottom:1px dashed #cecece;
    line-height:25px;
    letter-spacing:2px;
    display:block;
    background:white;
    
}
.body-1 .body-1l .list{
    float:left;
    
}
.body-1 .body-1l ul  li ul{
  display:none;
}
.body-1r .rtop{
    width:1050px;
    height:400px;
    float:left;
    margin-bottom:20px;
    background:#f7f7f7;
}
.body-1r .rtop img{
    width:1050px;
    height:400px;
}
.body-1r .rbottom{
    height:200px;
    margin-top:10px;
    margin-right:10px;
}
.body-1r .rbottom img{
    height:180px;
    width:256px;
}
.body-2{
    width:1350px;
    height:400px;
    margin-top:40px;
}
h3{
    font:16px "微软雅黑";
    font-weight:bold;
    float:left;
}
h3 .body-xz{
    font-size:12px;
    color:#cecece;
}
#body .href{
    margin-left:200px;
    width:80%;
    border-bottom:1px solid #cfcfcf;
    text-align:right;
    margin-top:20px;
    margin-bottom:20px;
}
.body-pic1{
    width:1350px;
    height:350px;
    margin-left:30px;
    margin-top:10px;
}
.body-pic1 .pic1  {
    width:250px;
    height:350px;
    float:left;
    margin-left:10px;
}
.body-pic1 .pic{
    width:160px;
    height:350px;
    float:left;
    margin-left:5px;
}
.body-pic1 .pic img{
    width:160px;
    height:115px;
}
.body-3{
    margin-left:40px;
    width:1350px;
    height:200px;
    margin-top:20px;
}
.body-pic2 img{
    width:245px;
    height:200px;
}
.body-4{
    margin-left:40px;
    width:1350px;
    height:200px;
    margin-top:50px;
}
.body-pic3 img{
    width:310px;
    height:200px;
}
.body-5{
    margin-left:40px;
    width:1350px;
    height:300px;
    margin-top:50px;
}
.body-pic4 img{
    width:245px;
    height:300px;
}
.body-6{
    margin-left:40px;
    width:1350px;
    height:300px;
    margin-top:50px;
}
.body-6 .star{
    float:left;
}
.body-6 .pic-1 img{
    width:420px;
    height:300px;
    
}
.starb{
    margin-top:20px;
}
.starb-1{
    display:block;
}
.starb-1 .col{
    color:#f69;
    font-size:16px;
    font-weight:bold;
}
.starb-1 .col1{
    color:#999;
    font-size:14px;
    text-decoration:line-through;
    
}
.starb-2 a{
    color:#666;
    font-size:20px;
    margin-top:8px;
}
.starb-2 a:hover{
    color:#f69;
}
.starb-3{
    width:300px;
    color:#999;
    font-size:16px;
    margin-top:8px;
}
.body-7{
   width:1350px;
    height:300px;
    margin-top:50px;
}
.body-7 .star{
    float:left;
    margin-left:10px;
}
.body-7.star a:hover{
    cursor:url("../image/images/12.png"),pointer;
}
.body-7 .pic-1 img{
    width:410px;
    height:300px;
    
}
.body-8{
    width:1350px;
    height:300px;
    margin-top:50px;
}
.body-8 .tj{
   margin-left:400px;
}
.body-8 .tj li{
    float:left;
    text-align:center;
    width:100px;
 
}
.body-8 .star{
    float:left;
    margin-left:10px;
}
.body-8 .star a:hover{
    cursor:url("../image/images/12.png"),pointer;
    
}
.body-8  .pic-1  img{
    width:410px;
    height:300px;
    
}
.body-9{
    margin-left:10px;
    width:1350px;;
    height:350px;
    margin-top:50px;
}
.body-9 .star{
    float:left;
    margin-left:10px;
}
.body-9 .pic-1  img{
    width:240px;
    height:350px;
    
}
.body-10{
    margin-left:30px;
    width:100%;
    height:200px;
    margin-top:20px;
}
.body-pic10{
    float:left;
}
.body-pic10  img{
    width:240px;
    height:200px;
}
/* 页面中部结束 */
/* 页面底部开始 */
#foot{
    width:100%;
    height:346px;
    background:#f5f5f5;
}
#foot table{
    caption-side:bottom;
    width:80%;
    height:280px;
    margin:0 auto;
    border-spacing:5px;
}
#foot table .foot-caption{
   color:#b6a48e;
   font-size:10px;
}
#foot table th{
    font-size:16px;
    color:#b6a48e;
    font-weight:bold;
}
#foot table tr td{
    table-layout:fixed;
    text-align:center;
}
 #foot table tr td a span{
    width:30px;
    height:30px;
    padding-left:-10px;
    float:left;
    margin-left:-20px;
}
.foot-1 ,.foot-2,.foot-3 {
    float:left;
    position:relative;
    right:-25px;
}
#foot table tr td .foot-1 {
    background:url(../image/12.png) no-repeat 10px 0px;
}
#foot table tr td .foot-2 {
    background:url(../image/12.png) no-repeat -18px 0px;
}
#foot table tr td .foot-3 {
    background:url(../image/12.png) no-repeat -46px 0px;
}
#foot table tr td img{
    width:150px;
    height:150px;
    
}
#foot table tr td a{
    text-decoration:none;
    text-align:center;
    font-size:10px;
    color:#b6a48e;
}
#foot table tr td a:hover{
    color:#f69;
}
/* 页面底部结束 */
/* 右边导航栏开始 */
.lan{
	background:#f6f6f6;
	border-left:1px solid #ddd;
	height:100%;
	position:fixed;
	right:0;
	top:0px;
	width:40px;
	z-index:900;
}
.lan-center{
	border-top:1px solid #ddd;
	position:absolute;
	top:60px;
}
.lan-l,.lan-1,.lan-2,.lan-3,.lan-4,.lan-5,.lan-6{
	border-bottom:1px solid #ddd;
	line-height:1.8;
}
.lan-l{
	height:70px;
}
.lan a{
	cursor:pointer;
	display:block;
	line-height:1.8;
	padding-left:15px;
	padding-right:15px;
	padding-top:35px;
	width:10px;
}
.lan a:hover{
	background:#f33866;
	color:#fff;
}
.lan-1{
	height:70px;
	padding-top:40px;
	background:rgba(0,0,0,0)url("../images/3.png") no-repeat 13px 10px;
	position:relative;
}
.lan-1 span{
	display:inline-block;
	height:20px;
	margin-top:15px;
	transform:rotate(90deg);
	width:40px;
}
.lan-1:hover{
	background:#f33866 url("../images/3.png") no-repeat 13px 10px;
	color:#fff;
}
.lan-2,.lan-3,.lan-4{
	position:relative;
}
.lan-2{
	background:rgba(0,0,0,0)url("../images/6.png") no-repeat 10px 9px;
}
.lan-2:hover{
	background:#f33866 url("../images/6.png") no-repeat 10px 9px;
	color:#fff;
}
.lan-3{
	background:rgba(0,0,0,0)url("../images/4.png") no-repeat 10px 9px;
}
.lan-3:hover{
	background:#f33866 url("../images/4.png") no-repeat 10px 9px;
	color:#fff;
}
.lan-4{
	background:rgba(0,0,0,0)url("../images/8.png") no-repeat 10px 9px;
}
.lan-4:hover{
	background:#f33866 url("../images/8.png") no-repeat 10px 9px;
	color:#fff;
}
.lan-5{
	background:rgba(0,0,0,0)url("../images/7.png") no-repeat 10px 9px;
}
.lan-5:hover{
	background:#f33866 url("../images/7.png") no-repeat 10px 9px;
	color:#fff;
}
.lan-6{
	background:rgba(0,0,0,0)url("../images/5.png") no-repeat 10px 9px;
}
.lan-6:hover{
	background:#f33866 url("../images/5.png") no-repeat 10px 9px;
	color:#fff;
}






